.title--h2 {
    font-size: 26px;
    font-weight: 600;
    color: var(--color-gray-2);
}

.container__gender--inside {
    display: flex;
    padding: 16px 0px;
    gap: 25px;
    align-items: center;
}

.button__gender {
    padding: 10.2px 11.2px;
    border-radius: 4px;
    background-color: var(--color-gray-6);
    border: none;
    border: 1px solid transparent;
}
.button__gender.black {
    background-color: black;
    color: white;
}
.button__gender:hover {
    border-color: black;
}

@media (max-width: 720px) {
    .container__gender--inside {
        flex-wrap: wrap;
    }
}
