.container__price--main {
    margin-bottom: 50px;
    padding: 32px 0px;
}


.container__price--inside {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.title--h3 {
    font-size: 22px;
    font-weight: 600;
}

#input__range {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    outline: none;
    background-color: var(--color-brand-1);
    border-radius: 0.5rem;
    height: 0.5rem;
}

#input__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 0.5rem solid var(--sua-variavel-de-cor-predominante);
    background-image: url(/src/assets/icon/Ellipse\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}
